<h1>Edit Application</h1>

<div class="container">
  <%= render partial: 'form', locals: { registered_application: @registered_application } %>
</div>

<%= link_to 'Show', registered_application_path(@registered_application) %>
<%= link_to 'Back', registered_applications_path %>