<div class="row">
  <div class="col-md-8">
    <h1><%= @registered_application.name %></h1>
    <h4><%= link_to @registered_application.url, @registered_application.url, target: "_blank" %></h4>
  </div>
  <div class="col-md-4">
    <%= link_to "Unregister Application", @registered_application, method: :delete, data: { confirm: "Are you sure you want to unregister this application? This process is unreversible!" }, class: 'btn btn-danger' %>
</div>
